Source: opi-backend
Section:admin
Priority: optional
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0),
	cmake,
	pkg-config,
	libopi-dev,
	libcppunit-dev
Standards-Version: 3.9.4
Homepage: http://www.openproducts.com

Package: opi-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, secop
Description: OPI backend manages admin ops for OPI
