Source: opi-backend
Section:admin
Priority: optional
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0),
	dh-systemd (>= 1.5),
	cmake,
	pkg-config,
	libutils-dev,
	libudev-dev,
	libcryptsetup-dev,
	libparted-dev,
	libcrypto++-dev,
	libjsoncpp-dev,
	libssl-dev,
	libkgpnotify-dev,
	libopi-dev,
	libcppunit-dev,
	libkinguard-dev (>=1.0.11)
Standards-Version: 3.9.4
Homepage: http://www.openproducts.com

Package: opi-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, secop, kinguard-certhandler, libkinguard1, libopi1
Pre-Depends: kgp-ccheck (>=1.0)
Description: OPI backend manages admin ops for OPI
