[Unit]
Description=Backend daemon for Keep

[Service]
ExecStart=/usr/sbin/opi-backend -d
PIDFile=/var/run/opi-backend.pid
Type=forking
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
